<h2>プロフィール編集</h2>
<%= form_with model: @user do |f| %>
  
  <p>
    <label for="inputName">Name</label>
  </p>
  <p>
    <%= f.text_field :name, id:"inputName" %>
  </p>
  <p>
    <label for=<"inputImage">Image</label></p>
  <p>
    <%= f.file_field :profile_image, id:"inputImage", accept: "image/*" %>  
  </p>
  <p>
    <label for="inputIntroduction">Introduction</label></p>
  </p>
  <p>
    <%= f.text_area :Introduction, id:"inputIntroduction" %>
  </p>
  <%= f.submit "Update User" %>
<% end %>