<html>
 <head>
    <title>Bookers2</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
 </head>
 <body>
  <main>
    <div class='container'>
      <div>
      <% if @user.errors.any? %>
       <%= @user.errors.count %>errors prohibited this obj from being saved:
        <ul>
       <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
       <% end %>
        </ul>
      <% end %> 
     </div>
    <div class='row'>
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mb-auto">
<h2>User info</h2>
<%= form_with model: @user do |f| %>
  
  <p>
    <label for="inputName">Name</label>
  </p>
  <p>
    <%= f.text_field :name, id:"inputName", class:"form-control name" %>
  </p>
  <p>
    <label for=<"inputImage">Image</label></p>
  <p>
    <%= f.file_field :profile_image, id:"inputImage", accept: "image/*", class:"form-control-file user_image" %>  
  </p>
  <p>
    <label for="inputIntroduction">Introduction</label></p>
  </p>
  <p>
    <%= f.text_area :introduction, id:"inputIntroduction", class:"form-control introduction" %>
  </p>
  <%= f.submit "Update User", class:"btn btn-secondary" %>
<% end %>
 </div>
        </div>
        </div>
      <main class="mb-auto">
    </body>
  </html>
