<div>
  <%= image_tag current_user.get_profile_image(100,100) %>
  <div>
  <span>name</span><span><%= current_user.name %></span><br>
  <span>introduction</span><span><%= current_user.introduction %></span><br>
  <%= link_to "Edit", edit_user_path(current_user.id) %>
  </div>
</div>
<%= render 'books/new', book: @book %>
<h1>Book detail</h1>
<table>
 <tbody>
    <tr>
      <td>
       <%= @bookf.title %>  
      </td>
      <td>
       <%= @bookf.body %>
      </td>
      <td>
        <% if @bookf.user == current_user %>
          <%= link_to "Edit", edit_book_path(@bookf) %>
        <% end %>
      </td>
      <td>
        <% if @bookf.user == current_user %>
          <%= link_to "Destroy", book_path(@bookf), method: :delete %>
        <% end %>
      </td>

    </tr>
  </tbody>
</table>